html {
	font-size: 16px;
    font-family: 'Lato', sans-serif;
}

body {
	background-color: whitesmoke;
}

.container {
	max-width: 450px;
	height: auto;
	background-color: #c38822;
	margin: 5% auto;
	padding-bottom: 1rem;
	
}

.form__top {
	width: 100%;
	text-align: center;
	padding: 2rem 0 1rem;
	border-top: solid .4rem #F39B53;
	margin-bottom: 1rem;
}
.formatotop {
	max-width: 100%;
	text-align: center;
	padding: 2rem 0 1rem;
	border-top: solid .4rem black;
	margin-bottom: 1rem;
}
.form__top h2 {
	font-weight: bold;
	color: #412d0b;
	font-size: 18px;
}

h2 span {
	color: black;
}
.table {
	margin: auto;
	margin-top: 10px;
	max-width: 90%;
	width:100%;
	height: auto;
	background-color: whitesmoke;
	text-align: left;
	border-collapse: collapse;

}

th, td {

padding: 10px;
}

thead{
	background-color:#eed09d ;
	border-bottom: solid 5px #c38822 ;
}

tr:nth-child(even){
	background-color:#f5e4c7 ;
}
tr:hover td{
	background-color:#c38822 ;
	color: white;
}

.form__reg {
	padding: 0 2rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.actualizar{
	border:red solid 2px;
	width: 50%;
	margin: 10px;
}

.btn__form {
	display: flex;
	justify-content: space-around;
	margin-top: 1rem;
}

.btn__for {
	/*display: flex;
	align-items: center;
	justify-content: center;
	background-color: #f3deba;*/
	border:none;
	width: 100%;
	color: white;
	font-size: 20px;
	background: #412d0b;
	padding: 15px 20px;
	border-radius: 5px;
	cursor: pointer;
}

.input{
	background-color: #EFEFEF;
	padding: .5rem;
	margin: .5rem 0;
	border: none;
	border-bottom: solid #C8C8C8 .2rem;
	transition: all .5s;
}
